name: CI

on:
  push:
    branches: [main]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    name: Format, Clippy & Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust
        run: rustup update

      - name: Check code formatting
        run: cargo fmt -- --check

      - name: Run clippy
        run: cargo clippy --all-features -- -D warnings

      - name: Build the project
        run: cargo build --release

  test:
    name: Tests
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Start LocalStack
        run: |
          docker compose up -d
          # Wait for services to be ready
          sleep 5

      - name: Health check LocalStack
        run: curl -s http://localhost:4566/_localstack/health | jq -e '.services.s3 == "running"'

      - name: Run tests
        run: cargo test -- --nocapture

      - name: Clean up
        run: docker compose down

  deny:
    name: Cargo deny
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - uses: EmbarkStudios/cargo-deny-action@v1